header{
    color: white;
}
header img{
    padding-bottom: 0;
}
header h1{
    background: white;
    color: black;
    text-align: center;
}
header h2{
    background: white;
    color: black;
    text-align: center;
}
header ul li{
    float: left;
    list-style: none;
    padding: 10px;
}
body{
    background: lightskyblue;
}
table{
    border-collapse: collapse;
}
table caption h2{
    text-align: center;
}
th{
    background: lightsalmon;
    color: black;
}
td,th{
    text-align: center;
    padding: 0.5em;
}
footer{
    text-align: center;
    background: black;
    color: white;
    height: 50px;
    line-height: 50px;
}